* {
  box-sizing: border-box;
  margin: 0; /*see if need to be moved*/
  padding: 0; /*see if need to be moved*/
  text-decoration: none;
  list-style: none; /*  ?  */
}

html {
  height: 100%; /*to make footer stick to bottom of the page*/
}

body {
  min-height: 100%; /*to make footer stick to bottom of the page*/
  display: flex;
  flex-direction: column;
}
/* --------------- Header-Navigation Area --------------------------------------------------------------------------*/

nav {
  background-color: rgb(255, 255, 255);
  height: 80px;
  width: 100%;
}

/*Logo*/
label.logo {
  /*selects label elements with class logo*/
  color: rgb(4, 170, 109);
  font-size: 22px; /*og:35px*/
  font-weight: bold;
  padding: 0 50px;
  line-height: 80px;
  /*text-shadow: 2px 2px 4px #000000;*/
}

nav ul {
  /*selects ul inside nav*/
  float: right;
  margin-right: 20px;
}

nav ul li {
  /*selects li inside ul inside nav*/
  display: inline-block;
  line-height: 80px;
  margin: 0px 5px;
}

nav ul li a {
  /*selects al inside li inside ul inside nav*/
  color: rgb(40, 42, 53);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  /*text-shadow: 2px 2px 4px #000000;*/
}

.navbarLinks a:hover {
  color: rgb(4, 170, 109);
}

.checkbtn {
  /*nav icon*/
  font-size: 30px;
  color: rgb(6, 40, 61);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}

#check {
  display: none;
}

/*************  START FOOTER    ************/
footer {
  background-color: rgb(40, 42, 53);
  margin-top: auto; /*to make footer stick to bottom of the page*/
}
.footerContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 2rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.footerInfo {
  width: 16rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  text-align: center;
}

.footerTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  text-decoration: none;
  font-size: 25px; /* OG: 1.125rem;*/
  line-height: 1.75rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.footerTagline {
  color: rgb(37, 199, 140);
  font-size: 16px; /* OG: 0.875rem;*/
  line-height: 1.25rem;
}

.footerSectionWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem; /*gap between title and list links  - OG: 2rem*/
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.footerCategory {
  color: aliceblue;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /* margin-bottom: 0.75rem; */
  font-size: 15px; /*added*/
}

.footerList {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  list-style-type: none; /*removes default bulleted list styles*/
  background-color: rgb(40, 42, 53); /*fixed the weird color thing*/
}

.footerLink {
  color: aliceblue;
  text-decoration: none;
}

.footerLink:hover {
  color: rgb(4, 170, 109);
}

.about {
  padding-top: 70px;
}

.contact {
  padding-top: 70px;
}

.footerBottom {
  background-color: rgb(40, 42, 53);
}

.footerBottomContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding: 1.25rem 2rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.footerCopyright {
  color: aliceblue;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.footerLogos {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.footerLogos a img {
  /*necessary?*/
  width: 1.25rem;
  height: 1.25rem;
}

/************* END FOOTER ****************/

/*************** START WELCOME ******************/
.welc-grid-container {
  display: grid;
  grid-template-columns: 1 fr;
  grid-auto-rows: minmax(300px, auto);
  /*grid-column-gap: __;*/
  grid-row-gap: 0px;
  background-color: rgb(243, 236, 234);
  color: rgb(40, 42, 53);
  justify-content: center;
  justify-items: center;
  margin-bottom: 60px;
  padding-bottom: 60px;
  /*align-content: center;*/
  /*  justify-items: center;*/
}

.welc-grid-container .welc-grid-item img {
  max-width: 100%;
  height: 90%; /*auto*/
  justify-items: center;
  padding-top: 60px;
}

/*Aligning Images*/
.welc-grid-item-1 {
  /*align-self: center;*/
  /*justify-self: center;*/
  margin-left: 40px;
  margin-right: 40px;
}

/*Aligning Text*/

.welc-grid-container .welc-grid-item h4 {
  padding-bottom: 20px;
  color: rgb(98, 98, 122);
  font-size: 13px;
  font-weight: 100;
}

.welc-grid-container .welc-grid-item h1 {
  font-size: 30px;
}

.welc-grid-container .welc-grid-item p.welc-p1 {
  padding-bottom: 35px;
  padding-top: 35px;
  width: 75%;
}

.welc-grid-container .welc-grid-item p.welc-p2 {
  padding-bottom: 50px;
  width: 75%;
}
.welc-grid-item-2 {
  /*align-self: center;*/
  /*justify-self: center;*/
  margin-left: 54px;
  margin-right: 40px;
  justify-self: center;
}

.welc-grid-container .welc-grid-item .button-front button {
  background-color: rgb(11, 31, 51);
  border-color: rgb(11, 31, 51);
  border-radius: 5px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.welc-grid-container .welc-grid-item .button-front button a {
  color: white;
}

.welc-grid-container .welc-grid-item .button-front button:hover {
  background-color: rgb(4, 170, 109);
  border-color: rgb(4, 170, 109);
  border-radius: 5px;
  color: white;
}
/*************** END WELCOME ********************/

/******************  START COACHING  ***************/
.coach-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  margin-bottom: 40px;
}

.coach-flex-item {
  text-align: center;
  background-color: rgb(217, 238, 225);
  border-radius: 12px;
  width: 85vw;
  justify-self: center;
}

.coach-flex-item-1 {
  background-color: rgb(217, 238, 225);
  padding-bottom: 50px;
}
.coach-flex-item-2 {
  background-color: rgb(217, 238, 225);
  padding-bottom: 50px;
}
.coach-flex-item-3 {
  background-color: rgb(217, 238, 225);
  padding-bottom: 50px;
}

h2.h2-coach {
  font-size: 20px;
  padding-bottom: 15px;
  padding-top: 40px;
}

h3.h3-coach {
  font-size: 14px;
  padding-bottom: 15px;
}

.price {
  padding-bottom: 15px;
  padding-top: 15px;
}

ul.ul-coach {
  padding-left: 20px;
  font-size: 13px;
  text-align: left;
  padding-left: 80px; /*og: 110px;*/
  padding-bottom: 25px;
}

ul.p-coach-s {
  padding-bottom: 56px;
}

ul.p-coach-t {
  padding-bottom: 56px;
}

li.li-coach {
  list-style-type: circle;
  padding-bottom: 15px;
  line-height: 15px;
}

/*buttons*/
.coach-flex-container .coach-flex-item .button-coach button {
  background-color: rgb(4, 170, 109);
  border-color: rgb(4, 170, 109);
  border-radius: 5px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.coach-flex-container .coach-flex-item .button-coach button a {
  color: white;
}

.coach-flex-container .coach-flex-item .button-coach button:hover {
  background-color: rgb(29, 129, 92);
  border-color: rgb(29, 129, 92);
  border-radius: 5px;
  color: white;
}
/******************  END COACHING  ***************/

/***************** START HOW WORKS ****************/

.why-grid-container {
  display: grid;
  background-color: rgb(255, 246, 236);
  grid-template-columns: 1fr;
  /*grid-auto-rows: minmax(450px, auto); /*vertical size on screen*/
  justify-content: center;
  align-content: start;
  height: 700px; /*or use vh (e.g. 75 vh), vrt auto rows min-max above*/
  padding-top: 75px;
  padding-bottom: 75px;
  color: rgb(40, 42, 53);
}

.why-grid-container .why-grid-item-1 {
  align-self: center;
  justify-self: center;
  text-align: center;
  padding-bottom: 75px;
}

.why-grid-container .why-grid-item-2 {
  /*align-self: center;*/
  /*justify-self: center;*/
  text-align: center;
}

.why-grid-container .why-grid-item-2 .why-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
}

.why-grid-container .why-grid-item-2 .why-flex-container .why-flex-item {
  max-width: 250px;
}

.why-grid-container .why-grid-item-2 .why-flex-container .why-flex-item h3 {
  padding-bottom: 20px;
}

.why-grid-container .why-grid-item-2 .why-flex-container .why-flex-item p {
  padding-bottom: 20px;
}

.why-grid-container .why-grid-item-3 {
  align-self: center;
  justify-self: center;
  text-align: center;
  padding-bottom: 75px;
  padding-top: 75px;
}

.why-grid-container .why-grid-item-3 .button-end button {
  background-color: rgb(11, 31, 51);
  border-color: rgb(11, 31, 51);
  border-radius: 5px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.why-grid-container .why-grid-item-3 .button-end button a {
  color: white;
}

.why-grid-container .why-grid-item-3 .button-end button:hover {
  background-color: rgb(4, 170, 109);
  border-color: rgb(4, 170, 109);
  border-radius: 5px;
  color: white;
}

/***************** END HOW WORKS ****************/

/* RWD */

/* ----------------------------------------------------------------------------------------------------
        /////////////////// For MOBILE (Extra) ///////////////////
------------------------------------------------------------------------------------------------------*/

/***************START  NAVBAR ***********************/
@media only screen and (max-width: 768px) {
  label.logo {
    font-size: 25px; /*orig:30px^/
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }

  .checkbtn {
    /*Normal flow stuff*/
    display: block;
  }

  ul.navbarLinks {
    /*position property layout*/
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(40, 42, 53);
    top: 80px;
    left: -100%;
    text-align: center;
  }

  nav ul li {
    /*Normal flow stuff*/
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
    color: aliceblue;
  }
  .navbarLinks a:hover {
    background: none;
    color: rgb(4, 170, 109);
  }
  #check:checked ~ ul {
    /*check mark*/
    left: 0;
  }
  /***************END  NAVBAR ***********************/
}

/* ----------------------------------------------------------------------------------------------------
        /////////////////// For DESKTOP ///////////////////
------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
  /*******   START NAVBAR *********/
  .checkbtn {
    /*nav icon*/
    display: none;
  }

  #check {
    /*probably unnecessary, noted above*/
    display: none;
  }

  /********** ENF NAVBAR   ****************/

  /************ START FOOTER***************/
  .footerContainer {
    flex-direction: row;
  }

  .footerInfo {
    margin-left: 0; /*originally 0*, shifts the whole container/
    margin-top: 15px; /*added*/
    margin-right: 0;
    text-align: left;
  }

  .footerTitle {
    justify-content: flex-start;
    margin-left: 15px;
  }

  .footerTagline {
    margin-left: 15px; /*added*/
  }

  .footerCategory {
    margin-top: 15px; /*added*/
  }

  .footerSectionWrapper {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin-left: 50px; /*added*/
  }

  .about {
    padding-top: 0px;
  }

  .contact {
    padding-top: 0px;
  }

  .footerBottomContainer {
    flex-direction: row;
    justify-content: space-between; /*separates them to the sides*/
  }

  /************ END FOOTER*****************/

  /*****************START WELCOME **********************/
  .welc-grid-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 130px;
  }

  .welc-grid-container .welc-grid-item img {
    max-width: 100%;
    height: auto;
    justify-items: center;
    padding-bottom: 60px;
  }

  /*Aligning Images*/
  .welc-grid-item-1 {
    /*align-self: center;*/
    /*justify-self: center;*/
    margin-left: 40px;
    margin-right: 120px;
    grid-area: 1 / 2 / span 1 / span 1; /*change order*/
  }
  /*Aligning Text*/

  .welc-grid-container .welc-grid-item h4 {
    padding-bottom: 20px;
    color: rgb(98, 98, 122);
    font-size: 13px;
    font-weight: 100;
  }

  .welc-grid-container .welc-grid-item h2 {
    padding-bottom: 20px;
  }

  /*.welc-grid-container .welc-grid-item p {
    padding-bottom: 69px;
    width: 75%;
  }*/
  .welc-grid-item-2 {
    /*align-self: center;*/
    /*justify-self: center;*/
    margin-left: 120px;
    margin-right: 40px;
    padding-top: 60px;
  }

  /******************END WELCOME *********************/

  /******************  START COACHING  ***************/
  .coach-flex-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    padding-bottom: 60px;
    width: 100vw;
  }

  .coach-flex-item {
    padding-bottom: 60px;
    width: 300px;
    border-radius: 12px;
  }

  ul.ul-coach {
    padding-left: 34px;
  }

  /*
h2.h2-coach {
  font-size: 20px;
  padding-bottom: 15px;
  padding-top: 40px;
}

h3.h3-coach {
  font-size: 14px;
  padding-bottom: 15px;
}

.price {
  padding-bottom: 15px;
  padding-top: 15px;
}

ul {
  padding-left: 20px;
  font-size: 13px;
  text-align: left;
  padding-left: 110px;
  padding-bottom: 25px;
}

ul.p-coach-s {
  padding-bottom: 56px;
}

ul.p-coach-c {
}

ul.p-coach-t {
  padding-bottom: 56px;
}

li {
  list-style-type: circle;
  padding-bottom: 15px;
  line-height: 15px;
}

  */

  /*.coach-flex-item .coach-flex-item-1 {
    
  }*/
  /******************  END COACHING  ***************/

  /***************** START HOW WORKS ****************/
  .why-grid-container {
    height: 500px; /*check this size later*/
  }
  .why-grid-container .why-grid-item-2 .why-flex-container {
    flex-direction: row;
    justify-content: space-around; /*doesn't work*/
    align-items: center;
  }

  .why-grid-container .why-grid-item-2 .why-flex-container .why-flex-item-1 {
    padding-left: 50px;
  }

  .why-grid-container .why-grid-item-2 .why-flex-container .why-flex-item-2 {
    padding-left: 6px;
  }

  .why-grid-container .why-grid-item-2 .why-flex-container .why-flex-item-3 {
    padding-left: 6px;
    padding-top: 28px;
  }

  /***************** END HOW WORKS ****************/
}
